.pantonediv{
  color : black;
}

.robdiv{
  font-size: 20px;
}

.filterdiv{
  cursor: pointer;
  transition: transform .2s;
}

.filterdiv:hover {
  transform: scale(1.2);
}

.viewButton{
  margin-left: 20px;
}

.contentdiv{
  margin-left: 20px;
  /* background-color: #e6e1e1f8; */
}

.topfilter{
  display: inline-block;
  margin-left: 0%;
}

.palettediv svg{
  height: 3rem;
  width: 3rem;
}

.ant-popover-placement-bottomLeft{
  padding-top: 10px;
  width: 30% !important;
}

@media (max-width: 600px){
  .ant-popover-placement-bottomLeft{
    width: 100% !important;
    justify-content : 'center'
  }
}

@media (min-width: 601px) and (max-width: 767px){
  .ant-popover-placement-bottomLeft{
    width: 70% !important;
    justify-content : 'center'
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .ant-popover-placement-bottomLeft{
    width: 60% !important;
    justify-content : 'center'
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .ant-popover-placement-bottomLeft{
    width: 40% !important;
    justify-content : 'center'
  }
}

/* @media (min-width: 1200px){
  .ant-popover-placement-bottomLeft{
    width: 100% !important;
    justify-content : 'center'
  }
} */