.pantonediv{
  color : black;
}

.robdiv{
  font-size: 20px;
}

.filterdiv{
  cursor: pointer;
  transition: transform .2s;
}

.filterdiv:hover {
  transform: scale(1.2);
}

.viewButton{
  margin-left: 20px;
}

.contentdiv{
  margin-left: 20px;
  /* background-color: #e6e1e1f8; */
}

.topfilter{
  display: inline-block;
  margin-left: 0%;
}

.palettediv svg{
  height: 3rem;
  width: 3rem;
}

.ant-popover-placement-bottomLeft{
  padding-top: 10px;
  width: 30% !important;
}
